.app {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.axis-selection-canvas {
  max-width: 600px;
  grid-column: 1 / 2;  
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headers{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 100px;
}


.scatter-canvas {
  max-width: 600px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: lightgoldenrodyellow;
}

.detail-canvas {
  width: 400px;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: lightgray;
}

.filter-canvas {
  max-width: 600px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 10px;
}

.filter-row {
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}



