.app {
  display: grid;
  /*max-width: 1800px; */
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 10vh 15vh 55vh 10vh;
  gap: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8; /* Optional: background color */
}

.login-box {
  background-color: #fff; /* Optional: box color */
  padding: 20px;
  border-radius: 5px; /* Optional: rounded corners */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Optional: shadow */
}

.headers{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 100px;
}

.axis-selection-canvas {
  /*max-width: 1800px;*/
  grid-column: 1 / 2;  
  grid-row: 1 / 2;
  /*display: flex; */
  justify-content: space-between;
  padding: 10px;
}


.scatter-canvas {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */

  width: 90%;
  
  margin-left: 2%;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: rgb(240, 240, 240);
}

.detail-canvas {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
  height: 90%;
  margin-right: 2%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: lightgray;
}

.detail-item {
  width: 50%; /* Takes 50% of the parent width */
}

.logic-canvas {
  max-width: 600px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding: 10px;
  border-width: 2px;
  border-color: black;
  /*border-style: solid;*/
}


.filter-canvas {
  max-width: 1200px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.school-tree-view {
  max-width: 800px;
  grid-column: 1 / 2;
  padding: 3px;
  margin: 3px;
}

.option-select-group {
  max-width: 600px;
  /* max-height: 200px; */
  overflow-y: auto;
  grid-column: 2 / 3;
  padding: 2px;
  margin: 5px;
}

.filter-row {
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}





